body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background: linear-gradient(360deg, #C1ECE6 0%, #FDFDED 100%);
    width: 100%;
    height: 100%;
}

.title {
    display: flex
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 0px 0px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.title header {
    font-family: 'Xirod', 'Garamond'; /* import fonts in assest? */
    font-size: 48px;
    line-height: 48px;
    color: #f24429; /*EB503B*/
}

.title p {  
    font-family: 'Nasalization', 'Garamond'; /* import fonts in assest? */
    font-size: 32px;
    line-height: 32px;
    color: #039455; /* 0A935C */
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* background: #039455; */
    margin: 0px 30px 30px 30px;
    padding: 30px 30px 0px 30px;
    height: auto;
}

#animationCanvas {
    border: 2px outset #f24429;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}


.sprite-sheet {
    /* background:#C1ECE6; */
    margin: 0px 0px 50px 0px;
}

.interactive-area {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    /* background:#C1ECE6; */
    /* margin: 0px 0px 50px 0px; */
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 200px 0px;
}

.genre-header {
    margin: 20px 10px;
    font-family: 'Nasalization', 'Garamond';
    font-size: 24px;
    line-height: 20px;
    color: #1B0C66;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

#genre {
    min-width: 300px;
    margin: 0px 10px;
    font-family: 'Nasalization', 'Garamond';
    font-size: 16px;
    line-height: 30px;
    text-align:center;
    color: #FFF5F5;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(32, 28, 151, 0.75),rgb(51, 5, 86, 0.75));
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
} /* what's the white stroke? */

button {
    width: 150px;
    height: 65px;
    border: none;
    outline: none;
    position: relative;
    margin: 20px 20px 100px 20px;
    padding: 5px 10px;
    border-radius: 8px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.15));
    cursor: pointer;
    z-index: 1;
}

button::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background-color: #039455;
    border-radius: 5px;
    z-index: -1;
    transition: 200ms
}

button::after {
    content: attr(data);
    font-family: 'Xirod', 'Garamond';
    font-size: 18px;
    color:#FFD516;
    transition: 200ms
}

button:hover::before {
    background: linear-gradient(to right, rgb(32, 28, 151, 0.75),rgb(51, 5, 86, 0.75));
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.15));
}

button:hover::after{
    color: #FFD516;
  }


#gacha {
    background: linear-gradient(25deg, #EB503B,#F1C85D);
}


/* #result {
    margin: 100px;
    background: linear-gradient(25deg, #675fd4,#55c034);
}

#result::before {
    background-color: #EA5B43;
} */

.reveal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    align-items: center;
    margin: 0px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
    min-width: 450px;
    min-height: 300px;
    max-width: 460px;
    /* max-height: 700px; */
    background: linear-gradient(30deg, #EB503B 12%, #F1C85D 88%);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.bookcover-canvas {
    min-width: 200px;
    min-height: 200px;
    max-width: 350px;
    max-height: 350px;
    background: #c5d2f4;
    margin: 10px;
}

.reveal .text {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Nasalization', 'Garamond';
    margin: 10px;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}

h1 {
    margin: 5px;
    font-size: 18px;
    color:#1B0C66;
}

h2 {
    margin: 0px;
    font-size: 16px;
    color:#007c55;
}

#description {
    color: white;
}


/* @media screen and (max-width: 360px) { 
    .reveal {
        display: flex;
        flex-direction: column;
    }

    .reveal-text {
        display: flex;
        flex-direction: column;
    }
} not working? */ 

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer span {
    font-family: 'Nasalization', 'Garamond';
    font-size: 16px;
    line-height: 22px;
    color: #1B0C66;
}